@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

@import url("https://fonts.googleapis.com/css?family=Poppins");

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background: #d8dbe2;
  background-color: #d8dbe2;
  background-image: url("https://github.com/fga-eps-mds/2022-1-PokeRanking/blob/main/pokeranking/src/Assets/fundoSite.png?raw=true");
}
