.attribute-wraper {
  /* width: 796px; */
  /* width: 927.34px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.attribute-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.attribute-name {
  width: 160px;
  height: 40px;
  background-color: #41bc52;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* font-size: medium; */
  border: 2px solid rgb(61, 61, 61);
}

.attribute-value {
  width: 101px;
  height: 40px;
  background-color: #c63838;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* font-size: medium; */
  border: 2px solid rgb(61, 61, 61);
}

.percentage-bar {
  width: 355px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid rgb(61, 61, 61);
}
