.bodyFiltro {
    background: linear-gradient(to top, #63337a, #3b859d);
    height: 65px;
    color: black;
    text-align: center;
    font: normal 30px Arial;

    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.filtro {
    display: flex;
    flex-direction: row;

    width: 1460px;
    height: 75px;
    gap: 22px;

    justify-content: center;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.textoFiltro {
    width: 265px;
}

.boxOrdenaPor {
    padding: 10px;
    padding-top: 15px;
    width: 265px;
    height: auto;
    text-align: center;
}

.botaoFiltro {
    margin-top: 10px;
    margin-bottom: 10px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;

    width: 265px;
    height: auto;
    background: #F8C658;
    text-align: center;
    
    border-radius:50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}