.bodyLogo {
  background: linear-gradient(to top, #2f1212, #c63838, #2f1212);
  height: 721px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.logoPrincipal {
  height: 721px;
  width: auto;
  margin: auto;
}
