.search-card {
  font-family: "Roboto", sans-serif;
  background-color: #ffece4;
  width: 344.74px;
  height: 376.67px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  box-shadow: #222222 0px 3px 8px;
}

.card-name {
  color: #222222;
  font-size: larger;
}

.input-group {
  position: relative;
}

.search-input {
  width: 225px;
  padding: 12px;
  background: #ffece4;
  border-radius: 2px;
  outline: none;
  color: #222222;
  border: 1px solid #222222;
  font-size: 20px;
}

.placeholder {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: medium;
  padding: 0px 5px;
  color: #222222;
  transition: 0.3s;
  pointer-events: none;
}

.search-input:focus + .placeholder,
.search-input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  background-color: #ffece4;
}

.adicionar-button {
  background-color: #222222;
  border: none;
  color: #ffece4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  cursor: pointer;
  border-radius: 25px;
}

.remover-button {
  background-color: #222222;
  border: none;
  color: #ffece4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 25px;
}

.display-none {
  display: none;
}
