.header {
  height: 65px;
  background-color: #363b81;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.container-menu,
.container-logo {
  width: 315.13px;
}

.menu {
  width: 20px;
  height: 16px;
}

.logo-branco {
  width: 270.87px;
  height: 43.5px;
}

.menu,
.logo-branco {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  width: 315.13px;
  height: 38px;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  border: none;
}

.search:focus {
  outline: none;
}
