.bodyFiltroDetalhesRegiao {
  height: 680px;
  margin: auto;
  margin-bottom: 22px;
  margin-top: 22px;
  background: rgb(136, 128, 128);

  font: normal 30px Arial;
  line-height: 60px;
  text-align: center;
  color: black;

  border-top: 2px solid black;
}
