.modal {
  display: flex;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  min-width: 720px;
  height: 100%;
  /* Full height */
  min-height: 720px;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background: linear-gradient(180deg, #3B9D7A 0%, #2E3F7C 100%);
  border: 3px solid #083543;
  border-radius: 0px 20px;
  margin: 6% auto;
  /* 15% from the top and centered */
  padding: 20px;

  width: 766px;
  height: 600px;
  /* Could be more or less, depending on screen size */
  box-sizing: border-box;
}

.space {
  /*background-color: aquamarine;*/
  width: 150px;
  height: 50px;
  /* Full height */
}




.modal-body {
  /*background-color: aquamarine;*/
  width: 50%;
  float: left;

}

.Info {
  width: 30%;
  float: left;
  margin-left: 100px;
  margin-right: auto;
}

.modal-table {
  background-color: #083543;
  width: 100%;
  height: 400px;
  clear: both;
}

/* The Close Button */
.close {
  color: rgba(252, 247, 0, 0.897);
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-title-number {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 12px;
  /* identical to box height, or 60% */

  display: flex;
  align-items: center;
  text-align: right;

  color: #00D1FF;

  text-shadow:
    -1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
}

.card-image-modal {
  padding-left: 110px;
  height: 250px;
  width: 250px;
  align-items: center;

}

.texto {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  /* or 80% */

  color: #FFFFFF;

  text-shadow:
    -1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);

}

.card-image-type {
  align-items: end;
  text-transform: capitalize;
  margin: 0px;
  font-size: 25px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}


.modal-table1 {
  font-family: "Press Start 2P";
  width: 66%;
  height: 370px;
  float: left;
  text-align: center;
}


.modal-table2 {
  width: 34%;
  height: 370px;
  float: left;
  text-align: center;

}

.bot1 {
  width: 180px;
  height: 50px;
  /* coiso */
  background: linear-gradient(180deg, #3B859D 0%, #63337A 100%);
  border: 2px solid #000000;
  border-radius: 50px;
  font-family: "Press Start 2P";
  color: #FFEE59;
  text-shadow:
    -1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
}

.bot2 {
  width: 145px;
  height: 37px;
  /* Linear Verde */
  background: #58A4B0;
  border: 2px solid #000000;
  border-radius: 50px;
  font-family: "Press Start 2P";
  color: #FFEE59;
  text-shadow:
    -1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
}

.bot3 {
  width: 145px;
  height: 37px;
  /* Linear Vermelho */
  background: #A9BCD0;
  border: 2px solid #000000;
  border-radius: 50px;
  font-family: "Press Start 2P";
  color: #FFEE59;
  text-shadow:
    -1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
}

.bot4 {
  width: 145px;
  height: 37px;
  /* Linear Ranking */
  background: linear-gradient(180deg, #3B9D8B 0%, #363B81 100%);
  border: 2px solid #000000;
  border-radius: 50px;
  font-family: "Press Start 2P";
  color: #FFEE59;
  text-shadow:
    -1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
}

.containerDet {
  padding: 16px;
  display: flex;
  gap: 5px 15px;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.titulo {
  width: 100%;
  height: 34px;
  font-family: 'Poppins';
  font-size: 32px;
  /* or 50% */
  color: #BD8518;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  text-shadow:
    -1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
}

.card-modal-types {
  display: flex;
}

.card-modal-element-icon {
  width: 64px;
  height: 64px;
}



.adicionar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 29px;
  height: 29px;
  color: #ffffff;
  font-size: 30px;
  background: #B3A125;
  border-radius: 2px;
  font-family: 'Poppins';

}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 50px;
  clear: both;
  font-family: 'Poppins';
  font-size: 20px;
  gap: 10px;
  color: #ffffff;
  flex-wrap: wrap;
}

.textFoot {
  color: #ffffff;
  text-shadow:
    -1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    1px 0px 0px rgb(0, 0, 0);
}

.linha-horizontal {
  align-items: flex-start;
  width: 100%;
  border: 1px solid #083543;
  border-radius: 0px 20px;
}